.content {
    width:40%;
    margin:auto;
}

.parentDiv {
    outline:5px solid blue;
    position: relative;
    top:20px;
    left:20px;
}
.childOne {
    background-color: aliceblue;
}
.childTwo {
    background-color: antiquewhite;
}
.childThree{
    background-color: beige;
}
.childFour{
    background-color:burlywood;
}
.childFive{
    background-color:rgb(156, 240, 239);
}
.childSix{
    background-color:darkgrey
}
.childSeven{
    background-color:honeydew;
}
.childEight{
    background-color:cornflowerblue;
}
.childNine{
    background-color:dodgerblue;
}
.childTen{
    background-color:moccasin;
}
.childEleven{
    background-color:floralwhite;
}




.parentDiv .childFive{
    display: inline
}
.parentDiv .childSeven{
    height:90px
}
.parentDiv .childEight{
    height:90px;
    display: inline;
}
.parentDiv .childNine{
    height:90px;
    display: inline-block;
}
.parentDiv .childTen{
    width:50%;
    display: inline-block;
}
.parentDiv .childEleven{
    width:50%;
    display: block;
}








.parentDivPosition {
    outline:5px solid purple;
    position: relative;
}
.parentDivPosition .childThree{
    position:relative;
    top:10px;
    left:10px;
}
.parentDivPosition .childFour{
    position:relative;
    height:30px;
}
.parentDivPosition .childFive{
    position:absolute;
    top:0;
    width:100%;
}
.parentDivPosition .childNine{
    margin-top:10px;
}


.parentDivFlexOne {
    outline:5px solid gold;
    display:flex;
    justify-content: space-evenly;
    height:70px;
    align-items: center;
}
.parentDivFlexOne .childOne {
    height:20px;
}
.parentDivFlexOne .childTwo {
    height:30px;
}
.parentDivFlexTwo {
    outline:5px solid black;
    display:flex;
    flex-direction: column;
    height:300px;
    justify-content: space-between;
    align-items: flex-end;
}
.parentDivFlexTwo .childOne {
    width:60px;
}
